body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
}

ul{
    display: inline-block;
}

li{
    float: left;
    border-bottom: 2px solid #fff;
    margin-right: 10px;
    padding-bottom: 4px;
    color: transparent;
    width: 16px;
    text-align: center;
}

li:last-child{
    margin-right: 0;
}

.scoreCanvas{
    clear: both;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    padding: 20px 0;
}

h1{
    font-family: 'Carter One', cursive;
    font-size: 30px;
}