body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
}

.leftBg{
    position: fixed;
    left: -40px;
    height: 100%;
}

.rightBg{
    position: fixed;
    right: -40px;
    height: 100%;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    padding: 20px 0;
}

#logo{
    width: 100%;
}

h1{
    font-family: 'Carter One', cursive;
    font-size: 30px;
}

p{
    line-height: 1.4em;
    color: #848484;
}

.important1{
    color: #fff;
}

.blinkingTitle {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: dfac12;
    font-size: 2em;
    text-align: center;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#messageCanvas{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
    border-top: #4c4c4c solid 1px;
    border-bottom: #4c4c4c solid 1px;
    margin-bottom: 20px;
    width: 90%;
}

#mainCanvas{
    margin: 0 auto;
    display: inline;
}

#hangmanDraw{
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    float: left;
    height: 180px;
    border: #4c4c4c solid 1px;
    text-align: center;
};

#drawTable{
    margin: 0 auto;
    width: 60%;
    float: right;
}

.wrapper{
    padding: 20px;
}

#centered{
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

#buttons{
    padding-top: 20px;
}

#scoreCanvas{
    text-align: left;
    padding-top: 20px;
}

ul{
    display: inline-block;
}

li{
    float: left;
    border-bottom: 2px solid #fff;
    margin-right: 10px;
    padding-bottom: 4px;
    color: transparent;
    width: 16px;
    text-align: center;
    font-size: 1em;
}

li:last-child{
    margin-right: 0;
}

.scoreCanvas{
    clear: both;
}

@media only screen and (max-width:1680px) {
    .leftBg{
        position: fixed;
        left: -100px;
        height: 100%;
    }
    
    .rightBg{
        position: fixed;
        right: -100px;
        height: 100%;
    }
}

@media only screen and (max-width:1560px) {
    .leftBg{
        position: fixed;
        left: -200px;
        height: 100%;
    }
    
    .rightBg{
        position: fixed;
        right: -200px;
        height: 100%;
    }
}

@media only screen and (max-width:1360px) {
    .container{
        width: 800px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1200px) {
    .container{
        width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1200px) {
    .container{
        width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1000px) {
    .leftBg, .rightBg{
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .container{
        width: 100%;
    }
}